MONGO_DB_CONN_STR=mongodb://user:pass@localhost:27017/task_db
RABBIT_MQ_URL=amqp://localhost:5672
RABBIT_MQ_NOTIFICATION_QUEUE=notification
LOG_LEVEL=info
MONGO_DB_NAME=task_db
PORT=3001
STAGE=prod
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=pass
